* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f1220;
    color: #fff;
    padding: 20px;
}

.section {
    margin-bottom: 2rem 0em;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    user-select: none;
}